.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;


}


.form{
    background-color: #F0F2F5;
    width: 50%;
    height: 100%;
    
}


.image{
    background-color: #03B304;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    img{
        width: 40%;
        max-height: 80%;
        margin-left: 72px;
        margin-right: 72px;
    }
}




.logo{
    display: block;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    img{
        width: 50px;
    }
}


.login-form{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 120px;
}
