<mat-toolbar class="bg-dark gap-2">
  <button matIconButton class="example-icon text-white" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="text-white">My App</span>
  <button>
    Home
  </button>
  <span class="example-spacer"></span>
  <button matIconButton class="example-icon favorite-icon text-white" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon text-white" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

